black==22.12.0
coverage==7.1.0
Django==4.2.6
django-debug-toolbar==4.2.0
django-environ==0.9.0
django-extensions==3.2.1
django-silk==5.0.4
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
drf-yasg==1.21.4
exceptiongroup==1.1.0
factory-boy==3.2.1
Faker==16.6.1
flake8==6.0.0
gprof2dot==2022.7.29
gunicorn==20.1.0
isort==5.12.0
itypes==1.2.0
Markdown==3.4.1
MarkupSafe==2.1.2
mypy==0.991
mypy-extensions==0.4.3
mysqlclient==2.1.1
packaging==23.0
pathspec==0.11.0
Pillow==10.2.0
platformdirs==2.6.2
pluggy==1.0.0
pycodestyle==2.10.0
pyflakes==3.0.1
pytest==7.2.1
pytest-factoryboy==2.5.1
python-dateutil==2.8.2
sqlparse==0.4.3
tomli==2.0.1
typing_extensions==4.4.0
uritemplate==4.1.1
urllib3==1.26.14
zipp==3.12.0
